<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="MailFrom" value="test@test.com" />
    <add key="MailTo" value="test@test.com" />
    <add key="MailToWeb" value="test@test.com" />
  </appSettings>
  <connectionStrings>
    <add name="ConStr" providerName="System.Data.SqlClient" connectionString="Data Source=103.20.212.134;Initial Catalog=videoapi;user id=videoappuser;password=Video@App#21;"/>
    <!--<add name="ConStr" connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=FabAccessories;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="FabAccessoriesEntities" connectionString="metadata=res://*/App_code.FabAccessories.csdl|res://*/App_code.FabAccessories.ssdl|res://*/App_code.FabAccessories.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\MSSQLSERVER01;initial catalog=FabAccessories;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FabAccessoriesEntities" connectionString="metadata=res://*/App_code.FabAccessories.csdl|res://*/App_code.FabAccessories.ssdl|res://*/App_code.FabAccessories.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=103.20.212.134;Initial Catalog=videoapi;user id=videoappuser;password=Video@App#21;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <SubSonicService defaultProvider="DB" enableTrace="false" templateDirectory="">
    <!--<SubSonicService defaultProvider="CMS">-->
    <providers>
      <clear />
      <add name="DB" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="ConStr" generatedNamespace="DB.Business" generateRelatedTablesAsProperties="true" regexIgnoreCase="true" setPropertyDefaultsFromDatabase="true" excludeTableList="LabourChart,Banner,ContactU,ContactUscontent,ContentPage,ExpMaster,HomeSplBanner,Itembanner,NewsLetter,UserDeviceid,UserInfo,WebCollInnerBanner,CategoryMaster,CollectionMaster,MaterialMaster,OtherImage,OrderBillingInfo,OrderShippingDetail,OrderTracking,DiscountCoupon,OrderPaymentResponse,ShipMaster,ColorMaster,SizeMaster,FeatureMaster,ProductFeature,ProductReview,USPDetail" />
    </providers>
  </SubSonicService>
  <system.web>
    <sessionState timeout="50000" mode="InProc" />
    <httpRuntime maxRequestLength="2000000" />
    <customErrors mode="Off"/>
    <pages enableEventValidation="true" validateRequest="false" enableViewStateMac="true">
      <controls>
        <!--Define ajax controt for file uploader-->
        <!--<add namespace="CuteWebUI" assembly="CuteWebUI.AjaxUploader" tagPrefix="CuteWebUI"/>
        <add namespace="MagicAjax.UI.Controls" assembly="MagicAjax" tagPrefix="MagicAjax"/>-->
        <!--*****************************************-->
        <!--<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="cc1" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="3.5">
      <buildProviders>
        <add extension=".abp" type="SubSonic.BuildProvider, SubSonic" />
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="test@test.com">
        <network host="mail.test.com" port="25" userName="test@test.com" password="test@123" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="1" patternSyntax="Wildcard">
          <match url="*.html" />
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
  <location path="CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>